<div class="container" mt-4>
    <div class="row">
        <div class="col-sm-6">
           <app-seleccionar-cliente
            [nombre]="clienteSeleccionado.nombre"
            (seleccionoCliente)="asignarCliente($event)"
            (canceloCliente)= "eliminarCliente()" >
             </app-seleccionar-cliente>

           <div class="form-group">
                <label >Suscribcion</label>
                <select [(ngModel)] ='idSub' (change)= "selecioneSub($event.target.value)" class="form-control">
                    <option [value]="null">Seleccione una suscripcion</option>
                    <option *ngFor = "let sub of subs" [value]="sub.id">{{sub.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Fecha inicio</label>
                <input class="form-control" disabled [value]="inscripcion.fecha | date" type="text">
            </div>
            <div class="form-group">
                <label for="">Fecha final</label>
                <input class="form-control" disabled [value]="inscripcion.fechaFinal |date" type="text">
            </div>
            <div class="form-group">
                <label for="">SubTotal</label>
                <input class="form-control" disabled [value]="inscripcion.subTotal" type="number">
            </div>
            <div class="form-group">
                <label for="">iva</label>
                <input class="form-control" disabled [value]="inscripcion.iva" type="number">
            </div>
            <div class="form-group">
                <label for="">Total</label>
                <input class="form-control" disabled [value]="inscripcion.total" type="number">
            </div>
            
            <br>

           <button class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
        <div class="col-sm-6">  
            <div *ngIf="clienteSeleccionado.imgUrl" class="imgCliente">
                <img [src]="clienteSeleccionado.imgUrl" alt="">
            </div> 
           
        </div>

    </div>
</div>