<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Incripcion <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listado-inscripciones">ver Inscripcion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/suscripciones">Suscripciones</a>
        </li>  
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
          </a>
          <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink= "/agregar-clientes" >Agregar</a>
            <a class="dropdown-item" routerLink= "/clientes" > Ver clientes</a>
          </div>
        </li>
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reportes
            </a>
            <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Suscripciones diarias</a>
              <a class="dropdown-item" href="#">Suscripciones Mensuales</a>
              <a class="dropdown-item" href="#">Mas vendidas</a>
            </div>
          </li>
        
      </ul>
   <!--    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
    <button class="btn btn-danger" (click) = "logout()">Salir</button>
  </nav>