
    <div class="form-group" *ngIf="!nombre">
        <label for="">Clientes:</label>
        <input (input)="buscar($event.target.value)" class="form-control" type="text" placeholder="Busque un cliente">

    </div>
    <div class="list-group">
       
        <div class="form-group" *ngIf= "nombre">
            <label for="">cliente</label>
            <div class="row">
                <div class="col-sm-9">
                    <input [(ngModel)]= "nombre" disabled  class="form-control" type="text">

                </div>
                <div class="col-sm-3">
                    <button class="btn btn-danger"(click) = "cancelar()">Cancelar</button>
                </div>

            </div>

        </div>
    </div>
    <div *ngFor = "let cliente of clientes">
        <button *ngIf="cliente.visible" (click) = "seleccionar(cliente)" type="button" class="list-group-item list-group-item-action ">
            {{cliente.nombre}} {{cliente.apellido}}
        </button>
    </div>
