<div class="container">
    <form action="" [formGroup] = "formularioClientes">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" formControlName = "nombre" placeholder="Ingrese el nombre">
                    <div *ngIf= " formularioClientes.controls['nombre'].invalid && formularioClientes.controls['nombre'].dirty " class="alert alert-danger" role="alert">
                        <span *ngIf ="formularioClientes.controls['nombre'].errors.required">El Nombre es requerida</span>
                    </div>
                </div>
               

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" formControlName="apellido" placeholder="Ingrese el apellido">
                    <div *ngIf= " formularioClientes.controls['apellido'].invalid && formularioClientes.controls['apellido'].dirty " class="alert alert-danger" role="alert">
                        <span *ngIf ="formularioClientes.controls['apellido'].errors.required">El Apellido es requerida</span>
                    </div>
                </div>
               

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Cedula</label>
                    <input type="text" class="form-control" formControlName="cedula" placeholder="Ingrese el numero de Cedula">
                </div>
               

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="email" class="form-control" formControlName= "correo" placeholder="Ingrese el Correo">
                    <div *ngIf= "formularioClientes.controls['correo'].invalid && formularioClientes.controls['correo'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf ="formularioClientes.controls['correo'].errors.required">El correo es requerido</span>
                        <span *ngIf ="formularioClientes.controls['correo'].errors.email">El correo es invalido </span>
                      </div>
                </div>
               

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" class="form-control" formControlName= "fechaNacimiento" placeholder="Ingrese la Fecha de nacimiento">
                    <div *ngIf= " formularioClientes.controls['fechaNacimiento'].invalid && formularioClientes.controls['fechaNacimiento'].dirty " class="alert alert-danger" role="alert">
                        <span *ngIf ="formularioClientes.controls['fechaNacimiento'].errors.required">La fecha de Nacimiento es requerida</span>
                    </div>
                </div>
               

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="tel" class="form-control" formControlName= "telefono" placeholder="Ingrese el Telefono">
                </div>
               

            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="file" (change) ="subirImagen($event)" class="form-control-file" formControlName = "imgUrl" placeholder="Ingrese el nombre">
                    <div *ngIf= " formularioClientes.controls['imgUrl'].invalid && formularioClientes.controls['imgUrl'].dirty " class="alert alert-danger" role="alert">
                        <span *ngIf ="formularioClientes.controls['imgUrl'].errors.required">La imnagen es requerida</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="mb-2">
                  <progressbar [value]="porcentajeSubida" type="primary" [striped]="true">{{porcentajeSubida}}%</progressbar>
                </div>
              </div>

        </div>
        <button *ngIf="!esEditar" class="btn btn-primary" [disabled] = "formularioClientes.invalid" (click)= "agregar()">Agregar</button>
        <button *ngIf="esEditar" class="btn btn-success" [disabled] = "formularioClientes.invalid" (click)= "editar()">Editar</button>
    </form>

</div>