<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h4>Suscripciones</h4>
                <ul >
                    <li *ngFor= "let sub of subs" >
                        {{sub.nombre}} 
                        <br>
                        <a (click)= "set(sub)" > id: {{sub.id}}</a>
                    </li>
                </ul>
        </div>
        <div class="col-sm-4">

            <h4>Agregar/Editaar</h4>
            <form [formGroup]= "formularioSubs">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input class="form-control" formControlName= "nombre" type="text">

                </div>
                <div class="form-group">
                    <label for="">Costo</label>
                    <input class="form-control" formControlName= "costo" type="number">
                </div>
                <div class="form-group">
                    <label for="">Duracion</label>
                    <input class="form-control" formControlName= "duracion" type="number">
                </div>
                <div class="form-group">
                    <label for="">Tipo Duracion</label>
                    <select class="form-control" formControlName="tipoDuracion" name="" id="">
                        <option value="1">Dias</option>
                        <option value="2">Semana</option>
                        <option value="3">Quincena</option>
                        <option value="4">Mes</option>
                        <option value="5">Año</option>
                    </select>
                </div>
            </form>
            <button *ngIf="!esEditar" [disabled] ="formularioSubs.invalid" class="btn btn-primary" (click) = "agregar()">Agregar</button>
            <button *ngIf="esEditar" [disabled] ="formularioSubs.invalid" class="btn btn-success" (click) = "Editar()">Editar</button>

        </div>
      
    </div>
</div>
